@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(56,68,144,.3);
    line-height: 46px;
    z-index: 999;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

.rounded {
    border-radius: .35rem !important;
}

.fa-chevron-up {
    color: #4c4249;
}

#view-page-top {
    max-width: 1140px;
    margin: 0 auto;
}

.hdr {
    border-left: 4px solid #4662D4;
    padding-left: 15px;
    color: #000;
    margin-left: 15px;
}

.field {
    color: #292525;
    font-weight: bold;
}

.dt-btn {
    color: #fff;
    background: #6778a5;
    padding: 5px 6px;
    border-radius: 4px;
    transition: 0.4s;
}

    .dt-btn:hover {
        color: #fff;
        background: #0c1d4a;
    }

.time_list {
    list-style-type: none;
    white-space: nowrap;
    display: inline-flex;
    float: right;
}

.dash_table {
    padding: 5px;
    border-top: 0px !important;
}

    .dash_table .dataTables_filter input {
        margin-left: 0.4em;
    }

.sales_info {
    margin-top: 25px;
}

.active {
    border: 1px solid #11114e !important;
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.48);
}

.frm-box h1 {
    margin: 15px 0px 20px;
    position: relative;
    font-size: 22px;
    display: table;
    padding-bottom: 1px;
    color: #000;
}

    .frm-box h1:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        background: #8c8fff;
        bottom: 0px;
        left: 0px;
    }

.form-group {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-bottom: 30px !important;
    align-items: center;
    -webkit-align-items: center;
}

    .form-group h6 {
        padding: 0px;
        margin: 0px 30px 0px 0px;
    }

input {
    height: 38px;
    width: 180px;
    padding: 0px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-left: 5px;
}

    input:focus {
        outline: 0px;
    }

.controls {
    padding: 0px 15px;
}

.btn-frm {
    background-color: #1b84e7;
    background-image: linear-gradient(to right, #1b84e7 0%, #1515af 100%);
    color: #fff;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    max-width: 85px;
    height: 35px;
}

    .btn-frm:focus {
        outline: 0px;
    }

.controls.f1 input, .controls.f1 {
    padding-right: 0px;
}

.controls label {
    color: #23064a;
}

.controls.f1 {
    padding-left: 0px;
}

.form-group .btn {
    padding: 0px;
}

.dtxt {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.drng {
    color: #6f83cc;
}

.user-box {
    display: flex;
    display: -webkit-flex;
    padding: 0px;
    animation: pulse 2s infinite;
    width: 60%;
    margin: 30px auto;
}

.h3-txt {
    text-align: center;
    color: #343a40;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.0);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.0);
        -moz-box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.0);
    }

    50% {
        transform: scale(1.05);
        box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.75);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.75);
        -moz-box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.75);
    }

    100% {
        transform: scale(1);
        box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.0);
        -webkit-box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.0);
        -moz-box-shadow: 0px 0px 8px 2px rgba(95,78,182,0.0);
    }
}

.user-box .card-contact {
    width: 50%;
}

    .user-box .card-contact:not(:first-child) {
        border-left: 0px;
    }

.contact-item {
    font-size: 1rem !important;
}

    .contact-item span:nth-child(2) {
        color: #000 !important;
        font-weight: 700 !important;
    }

#datatable1 th {
    min-width: 100px !important;
}

.fc-lead,.fc-call,.fc-cvr {
    width: 100%;
    text-align:center;
    font-size: 15px;
    color: #3290e9;
    padding-left:0px;
}
.fc-content-skeleton table td.fc-day-top{

    vertical-align: middle;
    height: 105px;

}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px;
}

.fc-lead{
    padding-top: 0px;
}

.fc-day-top {
    position: relative;
}

.calen {
    margin-top: 15px !important;
}

.sl-date {
    height: 38px;
    width: 180px;
    padding: 0px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-left: 5px;
}

.mem-1 .card-img {
    width: 120px;
    border-radius: 100%;
    padding: 5px;
    border: 2px solid #e0e0e0;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.mem-1 .contact-name {
    color: #343a40;
}

.mem-1 {
    padding: 24px;
}

.tx-center p {
    font-size: 20px;
    color: #0d0f71;
    font-weight: 500;
}

.l-board {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
}

.m-lead {
    background: #e6e7e8;
    max-width: 700px;
    padding: 30px 15px;
    margin: 30px auto;
    animation: pulse 2s infinite;
    border: 1px solid #8dc0f9;
}

.m-lead-hd {
    text-align: center;
    margin: 0px auto 30px;
    position: relative;
    padding-bottom: 8px;
    display: table;
}

.m-lead-hd:after {
    position: absolute;
    content: "";
    width: 111%;
    height: 2px;
    background-color: #1b7be3;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    bottom: 0px;
}

.l-board .mem-1:nth-child(2) .card-img, .l-board .mem-1:nth-child(3) .card-img {
    width: 90px;
}

.l-board .mem-1:nth-child(2) {
    order: 1;
}

.l-board .mem-1:nth-child(1) {
    position: relative;
    order: 2;
    top: -30px;
}

.l-board .mem-1:nth-child(3) {
    position: relative;
    order: 3;
    top: 30px;
}

.s-time {
    margin-left: 15px;
    ;
}

.s-time label {
    color: #23064a;
    font-weight: 600;
}

.p-relative {
    position: relative;
}

.hexa p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 16px;
}

.hexa {
    width: 40px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
}

.img-a {
    display: table;
    margin: 0 auto;
    position: relative;
}

.l-board .mem-1:nth-child(1) .img-a:after {
    position: absolute;
    content: "";
    background: url(../images/frame.png) no-repeat;
    width: 140px;
    height: 100%;
    background-size: 100%;
    background-position: center;
    left: -10px;
    overflow: visible;
    bottom: -5px;
}

.l-board .mem-1:nth-child(2) .img-a:after {
    position: absolute;
    content: "";
    background: url(../images/frame2.png) no-repeat;
    width: 103px;
    height: 100%;
    background-size: 100%;
    background-position: center;
    left: -8px;
    overflow: visible;
    bottom: -18px;
}

.l-board .mem-1:nth-child(3) .img-a:after {
    position: absolute;
    content: "";
    background: url(../images/frame1.png) no-repeat;
    width: 103px;
    height: 100%;
    background-size: 100%;
    background-position: center;
    left: -8px;
    overflow: visible;
    bottom: -18px;
}






.top-card{

    display: flex !important;
    display: -webkit-flex !important;
    flex-direction: row !important;
    -webkit-flex-direction: row !important;
    padding: 0px !important;
    
}

.top-part{
    width: 45%;
}
.crd-tab{
    width: 55%;
    border-left:1px solid #c3c3e0;
    
}
.d-flex{
    display: -webkit-flex;
    display: flex;
}
.ctab-bx{
    flex: 1;
    text-align: left;
    font-size: 12px;
    width: 50%;
    background: #fff;
    padding: 7px 0px 10px 5px;
    min-height: 78px;
    box-sizing: border-box;
    color: #868ba1;
}
.bl-1{
    border-left: 1px solid #efeeee;
}
.bt-1{
   border-top: 1px solid #efeeee; 
}
p.text-black{
    color: #000;
    font-weight: bold;
    font-size: 16px;
}


.ctab-bx p{
    margin-bottom: 0px;
    
}
.top-part{
    padding: 25px 10px 25px 10px;
}


.fc-add_event-button{
    padding: 0px 24px !important;
    position: relative !important;
}

.edit-btn{
    color: #fff;
    background-color: #4e73df;
    border-color: #4e73df;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.delete-btn{
    color: #fff;
    background: #e20e0e;
    border-color: #4e73df;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.fc-add_event-button:before{

    content: "\f106";
    font-family: FontAwesome;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 20px;
}

.fc-add_event-button.minimize:before{

    content: "\f107";
    font-family: FontAwesome;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 20px;
}
.dt-head{
    display: flex;
}

.sales-values{
    padding-right: 50px;
}

.datatable-scroll {
    overflow-x: auto;
    overflow-y: visible;
}

.reload button, .cal-tab button{
    background-color: #1b84e7;
    background-image: none;
    color: #fff;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    max-width: 85px;
    height: 35px;
    margin-right: 10px
}

.opts{
    display: flex;
}

.opts span{
    background-image: none;
    color: #000;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 15px;
    border: 1px solid #c1cae2;
    border-bottom: 0px;
}

.opts span:nth-child(1){
     
}

.opts span:nth-child(2){
    border-left: 0px;
}

.opts span.active-opt{
/* -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 10%);*/
    background-color: #ffffff;
    border-bottom: 0px;
    margin-bottom: -1px;
}

.back-btn{
    color: #1b84e7;
}

.back-btn span{
    font-size: 20px;
    cursor: pointer;
}

.dataTables_length .select2-container {
    width: 48px !important;
}
#datatable1, #datatable3, #datatable2{
    width: 100% !important;
}

.sm_td{
    max-width: 100%;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    overflow: hidden;
}

/*td a{
    word-break: break-all;
    white-space: normal;
}*/

@media screen and (min-width:992px) and (max-width: 1199px) {
    .ctab-bx {
        min-height: 85px;
    }
    .card {
        min-height: 175px;
    }   
}

@media screen and (min-width:768px) and (max-width: 991px) {
    input {
        width: 134px;
        padding: 0px 10px;
    }

    .mem-1 {
        padding: 15px;
    }
    .ctab-bx {
        min-height: 102px;
    }
    .card {
        min-height: 175px;
    }
    .ctab-bx {
        font-size: 9px;;
    }
    .fc-lead, .fc-call, .fc-cvr, .fc-content-skeleton table td.fc-day-top {
        font-size: 12px;
    }
}

@media screen and (max-width:767px) {

    .form-group {
        display: block;
    }

    .card-contact .card-img {
        width: 100px !important;
    }

    .card-contact h5, .h5 {
        font-size: 1rem;
    }

    .controls {
        padding: 0px 5px;
        width: 50%;
        float: left;
        margin: 15px 0px;
    }

    input {
        width: 100%;
    }

    .card-earning-summary h6 {
        min-height: 28px;
    }

    .user-box {
        padding: 0px 0px;
        width: 100%;
    }

    .slim-navbar .mega-dropdown .sub-item {
        width: 120px !important;
    }

    table {
        width: 100% !important;
    }

    dateinput-picker {
        width: 300px !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .tp-h {
        text-align: center;
    }

    .l-board {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        flex-direction: column;
        -webkit-flex-direction: column;
    }

    .l-board .mem-1:nth-child(2) {
        position: relative;
        top: 0px;
        order: 2;
    }

    .l-board .mem-1:nth-child(1) {
        position: relative;
        top: 0px;
        order: 1;
    }

    .l-board .mem-1:nth-child(3) {
        position: relative;
        top: 0px;
        order: 3;
    }

    .sales-values {
        padding-right: 8px;
    }
    .section-title {
        font-size: 12px;
    }
    .reload button, .cal-tab button {
        font-size: 12px;
    }
    

    #fullCalendar .fc-view.fc-month-view.fc-basic-view{
            overflow: auto;
    }
    #fullCalendar .fc-view.fc-month-view.fc-basic-view table .fc-head tr td.fc-head-container table thead tr th{
            width: 100px;
    }
    .fc-content-skeleton table td.fc-day-top {
        height: 90px;
        min-width: 100px;
        border-color: #ddd !important;
    }
    #fullCalendar table{
        width: auto !important;
    }
    .fc-lead, .fc-call, .fc-cvr, .fc-content-skeleton table td.fc-day-top {
            font-size: 12px;
        }

}
@media screen and (min-width:576px) and (max-width: 767px) {


    .ctab-bx {
        min-height: 112px;
    }
    .card {
        min-height: 220px;
    }
    .card {
        margin: 0px 0px !important;
    }
    .card-earning-summary h1{
        font-size: 30px;
    }





}
@media screen and (max-width:450px) {
    dateinput-picker {
        width: 220px !important;
    }
    .ctab-bx {
        min-height: 85px;
    }
}
