@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
.scroll-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    color: #fff;
    background: rgba(56,68,144,.3);
    line-height: 46px;
    z-index: 999;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}
.rounded {
    border-radius: .35rem !important;
}
.fa-chevron-up {
    color: #4c4249;
}
#view-page-top {
    max-width: 1140px;
    margin: 0 auto;
}
.hdr {
    border-left: 4px solid #4662D4;
    padding-left: 15px;
    color: #000;
    margin-left: 15px;
}
.field {
    color: #292525;
    font-weight: bold;
}
.dt-btn {
    color: #fff;
    background: #6778a5;
    padding: 5px 6px;
    border-radius: 4px;
    transition: 0.4s;
}
.dt-btn:hover {
    color: #fff;
    background: #0c1d4a;
}
.time_list {
    list-style-type: none;
    white-space: nowrap;
    display: inline-flex;
    float: right;
}
.dash_table {
    padding: 5px;
    border-top: 0px !important;
}
.dash_table .dataTables_filter input {
    margin-left: 0.4em;
}
.sales_info {
    margin-top: 25px;
}
.active {
    border: 1px solid #11114e !important;
    box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,0,0,0.48);
}

.frm-box h1 {
    margin: 15px 0px 20px;
    position: relative;
    font-size: 22px;
    display: table;
    padding-bottom: 1px;
    color: #000;
}

.frm-box h1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #8c8fff;
    bottom: 0px;
    left: 0px;
}

.form-group {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-top: 35px;
}

input {
    height: 38px;
    width: 180px;
    padding: 0px 15px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin-left: 5px;
}

    input:focus {
        outline: 0px;
    }

.controls {
    padding: 0px 15px;
}

.btn-frm {
    background-color: #1b84e7;
    background-image: linear-gradient(to right, #1b84e7 0%, #1515af 100%);
    color: #fff;
    border-radius: 4px;
    border: 0px;
    cursor: pointer;
    max-width: 85px;
    height: 35px;
}

    .btn-frm:focus {
        outline: 0px;
    }

.controls.f1 input, .controls.f1 {
    padding-right: 0px;
}

.controls label {
    color: #23064a;
}

.controls.f1 {
    padding-left: 0px;
}

.form-group .btn {
    padding: 0px;
}

.dtxt {
    color: #000;
    font-size: 18px;
    font-weight: bold;
}
.drng {
    color: #6f83cc;
}
